/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: 'Inter', sans-serif; 
    font-size: 16px;                
    line-height: 1.5;                
    background-color: #ffffff;       
    color: #333333;                  
    margin: 0;
}

/* Header */

.ab-pfo-nav-section{
    background-color: #2B2B2B;
}

.ab-pfo-nav-main-div{
    display: flex;
    padding: 2rem 0;
}

.ab-pfo-nav-list-container{
    flex: 1
}

.ab-pfo-nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 0;
}

.ab-pfo-nav-list .ab-pfo-nav-list-item .ab-pfo-nav-item{
    color: #FFFFFF;
    font-family: 'Inter', sans-serif; 
    font-size: 24px;                
    line-height: normal; 
    text-decoration: none;
    padding: 10px 0;
    /* transition: 0.5s ease; */
}

.ab-pfo-nav-list .ab-pfo-nav-list-item .ab-pfo-nav-item:hover{
    border-bottom: 2px solid #fff;
    /* transition: 0.5s ease; */
}

.ab-pfo-hamburger{
    display: flex;
    gap: 5px;
    flex-direction: column;
    cursor: pointer;
}

.ab-pfo-hamburger span{
    width: 49px;
    height: 4px;
    background-color: #fff;
}

/* Banner Section */

.ab-pfo-banner-section{
    background: url(../images/banner-background.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 50%;
    background-position-y: 35%;
}

.ab-pfo-banner-container {
    padding-top: 40px;
}

.ab-pfo-banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.ab-pfo-banner-name{
    font-family: "Itim", serif;
    font-weight: 400;
    font-style: normal; 
    color: #000000;
    font-size: 64px; 
}

.ab-pfo-banner-description{
    font-family: "Kalam", serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    font-size: 28px; 
}

/* Technical Section */
.ab-pfo-tech-section{
    padding: 40px 0;
    background: url(../images/yellowbg.png)
}

.ab-pfo-sec-head-section{
    position:relative;
}

.ab-pfo-sec-head-overflow{
    background-color: #000000;
    width: 410px;
    height: 62px;
    margin:0 auto;
    transform: rotate(2.5deg);
    transition:0.3s ease;
}

.ab-pfo-sec-head-section:hover .ab-pfo-sec-head-overflow{
    transform: rotate(-2.5deg);
    transition:0.3s ease;
}

.ab-pfo-sec-head{
    background-color: #F3E04F;
    width: fit-content;
    margin: 0 auto;
    padding: 5px 20px;
    border: 1px solid #000000;
    position: absolute;
    top: 0px;
    right: 50%;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%, 0%);
}

.ab-pfo-sec-head p{
    font-family: Jua;
    font-size: 40px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
    color: #000000;
}

.ab-pfo-tech-skills-section{
    padding: 100px 0;
}

.ab-pfo-tech-skills{
    position: relative;
}

.ab-pfo-tech-skill-holder{
    display: flex !important;
    background: white;
    align-items: center;
    justify-content: center;
    min-height: 312px;
    border-radius: 100px;
    border: 1px solid #000000;
}

.ab-pfo-tech-skills-section .slick-slide {
    margin: 0 20px; 
}

.ab-pfo-tech-skills-section .slick-arrow{
    border:none;
    position: absolute;
    bottom:-30%;
    background: transparent;
}

.ab-pfo-tech-skills-section .slick-arrow:hover svg circle{
    fill: #000000;
}

.ab-pfo-tech-skills-section .slick-arrow:hover svg path{
    fill: #F3E04F;
}

.ab-pfo-tech-skills-section .slick-prev{
    right: 51%;
}

.ab-pfo-tech-skills-section .slick-next{
    left: 51%;
}

/* My Professional Journey */

.ab-pfo-prof-jrny-section{
    padding: 80px;
}

.ab-pfo-prof-jrny-head h1{
    font-family: Jua;
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    color: #000000;
}

.ab-pfo-prof-jrny-content p{
    font-family: Kalam;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    color: #000000;
    margin-top: 30px;
}



/* Projects that define me */


.ab-pfo-projects h1{
    font-family: Jua;
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
    color: #000000;
}

.ab-pfo-marquee-container {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    transform: none;
  }
  
  .ab-pfo-marquee {
    flex: 0 0 auto;
    min-width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: scroll 20s linear 0s infinite;
    animation-play-state: running;
    animation-delay: 0s;
    animation-direction: normal;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .ab-pfo-initial-child-container {
    flex: 0 0 auto;
    display: flex;
    min-width: 100%;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
  }
  
  .ab-pfo-child {
    transform: none;
  }
.object-contain {
    object-fit: contain;
}

.w-32 {
    width: 8rem;
}

.h-24 {
    height: 6rem;
}

.mr-16 {
    margin-right: 4rem;
}

.ab-pfo-lazyload-wrapper{
    margin-bottom: 30px;
}

/* Recognition and awards */

.ab-pfo-awards-section{
    margin: 60px 0;
    background: url(../images/yellowbg.png);
    padding: 40px 0;
}

.ab-pfo-reg-head-oveflow{
    width:567px;
}

.ab-pfo-awards-holder{
    border: 1px solid #000000;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

.ab-pfo-award-name{
    border-top: 2px solid #000000;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

.ab-pfo-award-name p{
    font-family: Kalam;
    font-size: 24px;
    font-weight: 400;
    line-height: 38.26px;
    text-align: center;
    color: #000000;
}

.ab-pfo-certificate-holder{
    padding:30px;
}

.ab-pfo-awards-lists-section{
    margin: 70px 0 20px 0;
}


/* Academic Backgrounds */

.ab-pfo-academic-section{
    margin: 40px 0;
}

.ab-pfo-academic-head h1{
    font-family: Jua;
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
    color: #000000;
}

.ab-pfo-academic-tabs{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

.ab-pfo-academic-tab{
    min-width: 215px;
    font-family: Kalam;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 50px;
    line-height: 51px;
    vertical-align: middle;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

.ab-pfo-academic-tab:hover{
    background-color: #F3E04F;
    transition: 0.3s ease;
}

.ab-pfo-academic-tab.active{
    background-color: #F3E04F;
}

.ab-pfo-academic-tab p{
    margin-bottom: 0;
    width: fit-content;
    margin: 0 auto;
}

.ab-pfo-academic-score{
    max-width: 400px;
    margin: 0 auto;
}

.ab-pfo-academic-score p{
    font-family: Kalam;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    color: #000000;
}

.ab-pfo-academic-tab-content{
    text-align: center;
    margin-top: 60px;
}

.ab-pfo-academic-tab-content{
    display: none;
}


.ab-pfo-academic-tab-content.active{
    display: block;
}

/* Footer */

.ab-pfo-footer{
    font-family: Jua;
    font-size: 36px;
    font-weight: 400;
    line-height: 45px;
    text-align: left;
    color: #fff;
    background-color: #2B2B2B;
    padding-bottom: 70px;
    padding-top: 50px;
}

.ab-pfo-footer-detail a{
    margin-bottom: 0;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
}